
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	flex-wrap:wrap;
	
}
.items1{
	color:black;
	background-color:green;
}
.items2{
	color:black;
	background-color:red;
	
}
.items3{
	color:black;
	background-color:blue;
}


